target/
.env
data/users.json
data/*.db
data/*.mv.db
data/*.trace.db
*.log
*.class
*.jar
*.war
*.iml
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.github/modernize/
.DS_Store
